<!doctype html>
<title>{% block title %}{% endblock %} - Blogsite</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
    <nav class="navbar">
    <h2>Amazing Blog</h2>
      <ul class="navbar-nav">
        {% if g.user %}
          <li class="nav-item"><span>Welcome, {{ g.user['username'] }}!</span>
          <li class="nav-item nav-link active"><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <li class="nav-item nav-link active"><a href="{{ url_for('auth.register') }}">Register</a>
          <li class="nav-item nav-link active"><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </ul>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
</body>